[Unit]
Description=OpenFisca-France website

[Service]
EnvironmentFile=/home/openfisca/secret/piwik_token
Environment=SERVER_NAME=fr.openfisca.org
ExecStart=/usr/local/bin/npm start --prefix /home/openfisca/fr.openfisca.org/ -- -p 2011
User=openfisca
Restart=always

[Install]
WantedBy=multi-user.target
