[Unit]
Description=OpenFisca Web API - New

[Service]
EnvironmentFile=/home/openfisca/secret/piwik_token
Environment=COUNTRY_PACKAGE=openfisca_france
Environment=SERVER_NAME=fr.openfisca.org/api/v18
Environment=TRACKER_URL=https://stats.data.gouv.fr/piwik.php
Environment=TRACKER_IDSITE=4
ExecStart=/home/openfisca/virtualenvs/new-api/bin/gunicorn "openfisca_web_api_preview.app:create_app()" --workers 3 --bind localhost:6000
User=openfisca
Restart=always

[Install]
WantedBy=multi-user.target
