[Unit]
Description=Restart OpenFisca Web API - {{ country_package }}

[Timer]
OnCalendar={{ autorestart_frequency }}
Persistent=true
Unit={{ systemd_service_file_name }}

[Install]
WantedBy=timers.target
