server {
    listen 80;
    server_name {{ host_name }};

    access_log /var/log/nginx/{{ host_name }}-access.log;
    error_log /var/log/nginx/{{ host_name }}-error.log;

    location {{ base_url_path }} {
        include proxy_params;
        proxy_pass http://localhost:{{ http_port }}/;
    }
}
