[Unit]
Description=OpenFisca Web API - New

[Service]
EnvironmentFile=/home/openfisca/secret/piwik_token
Environment=SERVER_NAME=fr.openfisca.org/api/v21
ExecStart=/home/openfisca/virtualenvs/api-fr21/bin/openfisca serve --port 8021 --workers 2 --tracker-idsite 4 --tracker-url https://stats.data.gouv.fr/piwik.php --country-package openfisca_france --tracker-token $TRACKER_TOKEN --welcome-message "Welcome to the OpenFisca-France Web API. To learn how to use it, check our interactive swagger documentation: https://fr.openfisca.org/legislation/swagger."
User=openfisca
Restart=always

[Install]
WantedBy=multi-user.target
