[Unit]
Description=Run the Ansible playbook that installs the OpenFisca Web API.

[Service]
Type=oneshot
EnvironmentFile={{ env_file }}
ExecStart=/usr/bin/ansible-playbook --inventory {{ autoupdate_inventory_file }} ansible/site.yml
WorkingDirectory={{ openfisca_ops_clone_dir }}

[Install]
WantedBy=multi-user.target
