[Unit]
Description=OpenFisca Web API - New

[Service]
EnvironmentFile=/home/openfisca/secret/piwik_token
Environment=SERVER_NAME=fr.openfisca.org/api/v20
ExecStart=/home/openfisca/virtualenvs/api-fr20/bin/openfisca serve --port 8020 --tracker-idsite 4 --tracker-url https://stats.data.gouv.fr/piwik.php --country-package openfisca_france --tracker-token $TRACKER_TOKEN
User=openfisca
Restart=always

[Install]
WantedBy=multi-user.target
